<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SolcVersion" value="0.4.24"/>
    <add key="SolcOptimizer" value="0" />
    <add key="ExternalNodeHost" value="localhost:7545"/>
    <add key="DefaultGasLimit" value="6000000" />
    <add key="AccountCount" value="120" />
    <add key="AccountBalance" value="2300"/>
  </appSettings>
</configuration>