root = true

[*.sol]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4

[*.cs]
indent_style = space
indent_size = 4

[*.{xml,csproj,targets,props}]
indent_syle = space
indent_size = 2